.idea/
build/
CMakeFiles/
python/pyarmnn/src/pyarmnn/_generated/
python/pyarmnn/pyarmnn_docs-*
python/pyarmnn/cmake_install.cmake
python/pyarmnn/CMakeCache.txt
python/pyarmnn/test/testdata/
env/
